# **Step3 -> "Pre-procesamiento: Limpieza de datos"**

##wd

In [1]:
working_dir = "../data"
working_dir

'../data'

In [2]:
import pandas as pd

## Archivo de datos: **Vehiculos_afectos_a_IPV_Ene-Mar_2025_3.xlsx**

In [3]:
df = pd.read_excel(f"{working_dir}/Vehiculos_afectos_a_IPV_Ene-Mar_2025_3.xlsx")
print(df.shape)
df.head()

(251817, 16)

,N° registro,Nº persona,Tipo persona,Tipo contribuyente,Distrito domicilio fiscal,Porcentaje propiedad,Correlativo,Fecha adquisición vehículo,Fecha 1ra inscripción SUNARP,Clase vehículo,Categoría vehículo,Marca,Modelo,Valor adquisición (US $),Valor adquisición (S/),Valor referencial 2025 (S/)
0,1018115191,2311249402,Persona Natural,Pequeño,ANCON,100.0,1911465,2022-12-24,2022-12-29,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",FORD,BRONCO SPORT BIG BEND 4X4,39090.0,149323.8,126060
1,1056099842,6690559162,Persona Natural,Pequeño,ANCON,100.0,2048050,2024-04-20,2024-05-15,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",CHEVROLET,N400 1.5 MT PASAJEROS BASE,13990.0,52462.5,48930
2,1059017867,7789077745,Persona Natural,Pequeño,ANCON,100.0,1963261,2023-04-28,2023-05-30,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",PEUGEOT,3008 GT LINE 1.6 THP EAT6 165,42490.0,158062.8,136190
3,1067681437,2364381756,Sociedad Conyugal,Pequeño,ANCON,100.0,1884946,2022-09-23,2022-10-27,Automóvil,A2 (De 1051 a 1500 cc),HYUNDAI,GRAND I10 GL,14590.0,58068.2,40850
4,1076732977,2202287071,Persona Natural,Pequeño,ANCON,100.0,1949260,2023-05-30,2023-06-02,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",JETOUR,X70 1.5T MEC 4X2 CONFORT,15820.0,58217.6,64070

In [4]:
df.rename(columns={
    'N° registro': 'num_registro',
    'Nº persona': 'num_persona',
    'Tipo persona': 'tipo_persona',
    'Tipo contribuyente': 'tipo_contribuyente',
    'Distrito domicilio fiscal': 'distrito_fiscal',
    'Porcentaje propiedad': 'porcentaje_propiedad',
    'Correlativo': 'correlativo',
    'Fecha adquisición vehículo': 'fecha_adquisicion',
    'Fecha 1ra inscripción SUNARP': 'fecha_inscripcion_sunarp',
    'Clase vehículo': 'clase_vehiculo',
    'Categoría vehículo': 'categoria_vehiculo',
    'Marca': 'marca',
    'Modelo': 'modelo',
    'Valor adquisición (US $)': 'valor_adquisicion_usd',
    'Valor adquisición (S/)': 'valor_adquisicion_pen',
    'Valor referencial 2025 (S/)': 'valor_referencial_2025_pen'
}, inplace=True)
df.head()

,num_registro,num_persona,tipo_persona,tipo_contribuyente,distrito_fiscal,porcentaje_propiedad,correlativo,fecha_adquisicion,fecha_inscripcion_sunarp,clase_vehiculo,categoria_vehiculo,marca,modelo,valor_adquisicion_usd,valor_adquisicion_pen,valor_referencial_2025_pen
0,1018115191,2311249402,Persona Natural,Pequeño,ANCON,100.0,1911465,2022-12-24,2022-12-29,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",FORD,BRONCO SPORT BIG BEND 4X4,39090.0,149323.8,126060
1,1056099842,6690559162,Persona Natural,Pequeño,ANCON,100.0,2048050,2024-04-20,2024-05-15,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",CHEVROLET,N400 1.5 MT PASAJEROS BASE,13990.0,52462.5,48930
2,1059017867,7789077745,Persona Natural,Pequeño,ANCON,100.0,1963261,2023-04-28,2023-05-30,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",PEUGEOT,3008 GT LINE 1.6 THP EAT6 165,42490.0,158062.8,136190
3,1067681437,2364381756,Sociedad Conyugal,Pequeño,ANCON,100.0,1884946,2022-09-23,2022-10-27,Automóvil,A2 (De 1051 a 1500 cc),HYUNDAI,GRAND I10 GL,14590.0,58068.2,40850
4,1076732977,2202287071,Persona Natural,Pequeño,ANCON,100.0,1949260,2023-05-30,2023-06-02,Camioneta,"B1, B2, B3, B4 (Pick up/otros)",JETOUR,X70 1.5T MEC 4X2 CONFORT,15820.0,58217.6,64070

## Estandarización de valores categóricas

In [5]:
mapping = {
    'Persona Natural': 'natural',
    'Sociedad Conyugal': 'soc_conyugal',
    'Persona Jurídica': 'juridica',
    'Sucesión Indivisa': 'suc_indivisa',
    'Menores de Edad': 'menores_edad',
    'Sociedad Irregular': 'soc_irregular',
}
df['tipo_persona'] = df['tipo_persona'].replace(mapping)
print(df['tipo_persona'].unique())

['natural' 'soc_conyugal' 'juridica' 'suc_indivisa' 'menores_edad'
 'soc_irregular']

In [6]:
print(df['tipo_contribuyente'].nunique())
print(df['tipo_contribuyente'].unique())

3
['Pequeño' 'Mediano' 'Grande']

In [7]:
mapping_contribuyente = {
    'Pequeño': 'pequeno',
    'Mediano': 'mediano',
    'Grande': 'grande'
}
df['tipo_contribuyente'] = df['tipo_contribuyente'].replace(mapping_contribuyente)
print(df['tipo_contribuyente'].unique())

['pequeno' 'mediano' 'grande']

In [8]:
print(df['clase_vehiculo'].nunique())
print(df['clase_vehiculo'].unique())

6
['Camioneta' 'Automóvil' 'Camión' 'Omnibus'
 'Tracto camion, Remolcador, Semiremolcador' 'Station Wagon']

In [9]:
mapping_clase = {
    'Camioneta': 'camioneta',
    'Automóvil': 'automovil',
    'Camión': 'camion',
    'Omnibus': 'omnibus',
    'Tracto camion, Remolcador, Semiremolcador': 'tracto_camion_remolcador',
    'Station Wagon': 'station_wagon'
}
df['clase_vehiculo'] = df['clase_vehiculo'].replace(mapping_clase)
print(df['clase_vehiculo'].unique())

['camioneta' 'automovil' 'camion' 'omnibus' 'tracto_camion_remolcador'
 'station_wagon']

In [10]:
print(df['categoria_vehiculo'].nunique())
print(df['categoria_vehiculo'].unique())

8
['B1, B2, B3, B4 (Pick up/otros)' 'A2 (De 1051 a 1500 cc)' 'C1 (Camiones)'
 'A1 (Menos de 1050 cc)' 'A3 (De 1501 a 2000 cc)' 'D1 (Bus, omnibus)'
 'E1 (Remolcador)' 'A4 (Más de 2000 cc)']

In [11]:
# ...existing code...
mapping_categoria = {
    'B1, B2, B3, B4 (Pick up/otros)': 'b1234_pickup_otros',
    'A2 (De 1051 a 1500 cc)': 'a2_1051_1500cc',
    'C1 (Camiones)': 'c1_camiones',
    'A1 (Menos de 1050 cc)': 'a1_menos_1050cc',
    'A3 (De 1501 a 2000 cc)': 'a3_1501_2000cc',
    'D1 (Bus, omnibus)': 'd1_bus_omnibus',
    'E1 (Remolcador)': 'e1_remolcador',
    'A4 (Más de 2000 cc)': 'a4_mas_2000cc'
}
df['categoria_vehiculo'] = df['categoria_vehiculo'].replace(mapping_categoria)
print(df['categoria_vehiculo'].unique())

['b1234_pickup_otros' 'a2_1051_1500cc' 'c1_camiones' 'a1_menos_1050cc'
 'a3_1501_2000cc' 'd1_bus_omnibus' 'e1_remolcador' 'a4_mas_2000cc']

In [12]:
df.head(5)

,num_registro,num_persona,tipo_persona,tipo_contribuyente,distrito_fiscal,porcentaje_propiedad,correlativo,fecha_adquisicion,fecha_inscripcion_sunarp,clase_vehiculo,categoria_vehiculo,marca,modelo,valor_adquisicion_usd,valor_adquisicion_pen,valor_referencial_2025_pen
0,1018115191,2311249402,natural,pequeno,ANCON,100.0,1911465,2022-12-24,2022-12-29,camioneta,b1234_pickup_otros,FORD,BRONCO SPORT BIG BEND 4X4,39090.0,149323.8,126060
1,1056099842,6690559162,natural,pequeno,ANCON,100.0,2048050,2024-04-20,2024-05-15,camioneta,b1234_pickup_otros,CHEVROLET,N400 1.5 MT PASAJEROS BASE,13990.0,52462.5,48930
2,1059017867,7789077745,natural,pequeno,ANCON,100.0,1963261,2023-04-28,2023-05-30,camioneta,b1234_pickup_otros,PEUGEOT,3008 GT LINE 1.6 THP EAT6 165,42490.0,158062.8,136190
3,1067681437,2364381756,soc_conyugal,pequeno,ANCON,100.0,1884946,2022-09-23,2022-10-27,automovil,a2_1051_1500cc,HYUNDAI,GRAND I10 GL,14590.0,58068.2,40850
4,1076732977,2202287071,natural,pequeno,ANCON,100.0,1949260,2023-05-30,2023-06-02,camioneta,b1234_pickup_otros,JETOUR,X70 1.5T MEC 4X2 CONFORT,15820.0,58217.6,64070

In [13]:
# Omitimos duplicados
print(df.shape)
df.drop_duplicates(inplace=True)
print(df.shape)

(251817, 16)
(251817, 16)

In [14]:
df.dtypes

num_registro                           int64
num_persona                            int64
tipo_persona                          object
tipo_contribuyente                    object
distrito_fiscal                       object
porcentaje_propiedad                 float64
correlativo                            int64
fecha_adquisicion             datetime64[ns]
fecha_inscripcion_sunarp      datetime64[ns]
clase_vehiculo                        object
categoria_vehiculo                    object
marca                                 object
modelo                                object
valor_adquisicion_usd                float64
valor_adquisicion_pen                float64
valor_referencial_2025_pen             int64
dtype: object

In [15]:
# ...existing code...
df[['tipo_persona', 'tipo_contribuyente', 'distrito_fiscal', 'clase_vehiculo', 'categoria_vehiculo', 'marca', 'modelo']] = df[['tipo_persona', 'tipo_contribuyente', 'distrito_fiscal', 'clase_vehiculo', 'categoria_vehiculo', 'marca', 'modelo']].astype('string')
df.dtypes

num_registro                           int64
num_persona                            int64
tipo_persona                  string[python]
tipo_contribuyente            string[python]
distrito_fiscal               string[python]
porcentaje_propiedad                 float64
correlativo                            int64
fecha_adquisicion             datetime64[ns]
fecha_inscripcion_sunarp      datetime64[ns]
clase_vehiculo                string[python]
categoria_vehiculo            string[python]
marca                         string[python]
modelo                        string[python]
valor_adquisicion_usd                float64
valor_adquisicion_pen                float64
valor_referencial_2025_pen             int64
dtype: object

In [16]:
# Verificamos
vacios = pd.DataFrame(df.isnull().sum()).sort_values(0,ascending=True)
vacios.columns = ['vacios']
vacios['vacios%'] = round(vacios['vacios']/df.shape[0], 2)*100
vacios

                            vacios  vacios%
num_registro                     0      0.0
num_persona                      0      0.0
tipo_persona                     0      0.0
tipo_contribuyente               0      0.0
distrito_fiscal                  0      0.0
porcentaje_propiedad             0      0.0
correlativo                      0      0.0
fecha_adquisicion                0      0.0
fecha_inscripcion_sunarp         0      0.0
clase_vehiculo                   0      0.0
categoria_vehiculo               0      0.0
marca                            0      0.0
modelo                           0      0.0
valor_adquisicion_usd            0      0.0
valor_adquisicion_pen            0      0.0
valor_referencial_2025_pen       0      0.0

In [17]:
zeros_por_columna = (df == 0).sum()
print("Número de ceros por columna:")
print(zeros_por_columna)

Número de ceros por columna:
num_registro                     0
num_persona                      0
tipo_persona                     0
tipo_contribuyente               0
distrito_fiscal                  0
porcentaje_propiedad             0
correlativo                      0
fecha_adquisicion                0
fecha_inscripcion_sunarp         0
clase_vehiculo                   0
categoria_vehiculo               0
marca                            0
modelo                           0
valor_adquisicion_usd         7583
valor_adquisicion_pen          107
valor_referencial_2025_pen       0
dtype: Int64

In [18]:
registros_con_ceros = df[df.eq(0).any(axis=1)]
print(f"Registros con al menos un cero: {len(registros_con_ceros)}")
registros_con_ceros.head(5)

Registros con al menos un cero: 7583

,num_registro,num_persona,tipo_persona,tipo_contribuyente,distrito_fiscal,porcentaje_propiedad,correlativo,fecha_adquisicion,fecha_inscripcion_sunarp,clase_vehiculo,categoria_vehiculo,marca,modelo,valor_adquisicion_usd,valor_adquisicion_pen,valor_referencial_2025_pen
34,1616137492,6052819565,soc_conyugal,pequeno,ANCON,100.0,1932424,2024-08-26,2022-03-03,camioneta,b1234_pickup_otros,CHERY,NEW TIGGO 7 PRO 1.5T CVT LUX,0.0,43700.00,63040
105,2661744945,3201232208,juridica,pequeno,ANCON,100.0,2015073,2023-12-21,2024-02-05,camioneta,b1234_pickup_otros,CHEVROLET,CAPTIVA,0.0,107915.96,65930
114,2779002395,7982568663,juridica,mediano,ANCON,100.0,2000181,2023-12-07,2023-12-27,camioneta,b1234_pickup_otros,TOYOTA,HILUX DC 4X2 2GD,0.0,131415.00,97510
139,3228732659,2682363260,juridica,pequeno,ANCON,100.0,1880156,2023-06-12,2022-10-17,camioneta,b1234_pickup_otros,GREAT WALL,POER MT 4X4 STD,0.0,1990.00,71760
174,3789441099,1881791676,natural,pequeno,ANCON,100.0,2070881,2024-06-17,2023-07-25,camioneta,b1234_pickup_otros,JOYLONG,HKL6600C,0.0,1900.00,78940

In [39]:
ambos_ceros = len(df[(df['valor_adquisicion_usd'] == 0) & (df['valor_adquisicion_pen'] == 0)])
print(f"Registros con valor_adquisicion_usd y valor_adquisicion_pen en 0: {ambos_ceros}")

Registros con valor_adquisicion_usd y valor_adquisicion_pen en 0: 107

Existen registros que tiene valor de adquisición en 0 pero por información del negocio, esto puede ser posible porque pueden existir vehiculos donados u herencia que no tienen ese valor establecido y se procede con el registro en 0. Existe la posibilidad de imputar estos registros con el valor referencial, pero esto se analizara despues.

In [19]:
df[df.duplicated(subset='num_registro', keep=False)].sort_values('num_registro')

,num_registro,num_persona,tipo_persona,tipo_contribuyente,distrito_fiscal,porcentaje_propiedad,correlativo,fecha_adquisicion,fecha_inscripcion_sunarp,clase_vehiculo,categoria_vehiculo,marca,modelo,valor_adquisicion_usd,valor_adquisicion_pen,valor_referencial_2025_pen
187009,1625621277,4268082479,natural,pequeno,SAN MARTIN DE PORRES,100.0,1893206,2022-11-24,2022-12-06,camioneta,b1234_pickup_otros,GEELY,GX3 GF CVT,15990.0,61561.50,54250
210618,1625621277,4714042405,natural,pequeno,SANTA ROSA,100.0,2041262,2024-04-16,2024-04-26,camioneta,b1234_pickup_otros,FORD,EXPLORER AT 4X4 LIMITED,59890.0,224587.50,185880
106100,3157884977,4767895188,juridica,pequeno,MIRAFLORES,100.0,1832268,2022-02-17,2022-03-04,camioneta,b1234_pickup_otros,HYUNDAI,SANTA FE,36490.0,137202.40,97080
13300,3157884977,8064534200,natural,pequeno,BARRANCO,100.0,2027529,2024-02-24,2024-02-08,camioneta,b1234_pickup_otros,DFSK,GLORY 330 1.5L 8ASIENTOS,11990.0,45322.20,44070
169830,3943130555,5663399807,natural,pequeno,SAN JUAN DE LURIGANCHO,100.0,1829273,2022-01-07,2022-01-18,automovil,a2_1051_1500cc,TOYOTA,AGYA 1.2L G AT,13390.0,51551.50,42100
146683,3943130555,1455685420,juridica,grande,SAN ISIDRO,100.0,1915153,2022-06-23,2022-06-27,camioneta,b1234_pickup_otros,VOLKSWAGEN,TAOS COMFORTLINE 250 TSI TIP,31490.0,120606.70,99280
245938,8352205978,7814956987,natural,pequeno,VILLA EL SALVADOR,100.0,2085352,2024-11-19,2024-11-21,camioneta,b1234_pickup_otros,HONDA,HR-V EXL,27990.0,104962.50,113060
160533,8352205978,3433815948,soc_conyugal,mediano,SAN ISIDRO,100.0,1990891,2023-10-31,2023-11-22,camion,c1_camiones,MITSUBISHI FUSO,CANTER EURO 5 5TON,35290.0,135513.60,135680
11388,8911540975,3694116921,juridica,pequeno,ATE,100.0,1995182,2023-12-04,2023-11-20,automovil,a2_1051_1500cc,TOYOTA,AGYA 1.2L G AT,14696.0,54522.16,52630
90418,8911540975,5771484211,soc_conyugal,mediano,LOS OLIVOS,100.0,2064724,2024-05-10,2024-06-06,camioneta,b1234_pickup_otros,CHERY,TIGGO 8 1.5T MT FULL,18750.0,70125.00,79700

In [20]:
df[df.duplicated(subset='num_persona', keep=False)].sort_values('num_persona')

,num_registro,num_persona,tipo_persona,tipo_contribuyente,distrito_fiscal,porcentaje_propiedad,correlativo,fecha_adquisicion,fecha_inscripcion_sunarp,clase_vehiculo,categoria_vehiculo,marca,modelo,valor_adquisicion_usd,valor_adquisicion_pen,valor_referencial_2025_pen
64064,9996668517,5313369085,juridica,grande,LA MOLINA,100.0,2095508,2024-11-20,2024-12-16,camioneta,b1234_pickup_otros,TOYOTA,HILUX DC 4X4 1GD SR,0.00,189213.47,107740
224221,5912158989,5313369085,natural,pequeno,SANTIAGO DE SURCO,100.0,1981259,2023-09-27,2023-10-06,automovil,a2_1051_1500cc,KIA,PICANTO,13590.00,51642.00,41390
228914,7671673185,6830411804,soc_conyugal,pequeno,SANTIAGO DE SURCO,100.0,1927908,2022-03-17,2022-03-17,automovil,a2_1051_1500cc,HYUNDAI,VERNA GL,14490.00,53613.00,35030
55607,5294420076,6830411804,natural,pequeno,LA MOLINA,100.0,1998042,2023-11-15,2023-12-11,camioneta,b1234_pickup_otros,RENAULT,NEW DUSTER INTENS TM 4X2 1.6 MT,18690.00,69900.60,70600
199176,1037378607,7117282771,soc_conyugal,pequeno,SAN MIGUEL,100.0,1839391,2022-03-28,2022-04-01,camioneta,b1234_pickup_otros,FOTON,TUNLAND G7 BJ2037Y3MAVDM,25650.00,94905.00,64420
225205,6273080251,7117282771,natural,mediano,SANTIAGO DE SURCO,100.0,1910546,2022-10-26,2022-12-14,camioneta,b1234_pickup_otros,HYUNDAI,H100 TRUCK GL 2.5 CRDI,20571.00,82078.29,64740
180993,5174488963,7800290758,soc_conyugal,pequeno,SAN JUAN DE MIRAFLORES,100.0,1835257,2022-03-02,2022-03-11,camioneta,b1234_pickup_otros,TOYOTA,RUSH 1.5 FULL AT,22790.00,84323.00,68270
205509,9317481135,7800290758,natural,pequeno,SAN MIGUEL,100.0,1929038,2022-05-10,2022-05-10,automovil,a2_1051_1500cc,HONDA,CITY 4D EXL,23490.00,87147.90,63440
48027,1030548209,8274289697,juridica,grande,LA MOLINA,100.0,1913630,2022-09-09,2022-09-13,camioneta,b1234_pickup_otros,ZX,TERRALORD XPRO,27720.00,110325.60,99280
230394,8239348879,8274289697,natural,pequeno,SANTIAGO DE SURCO,100.0,2090608,2024-09-28,2024-10-11,automovil,a2_1051_1500cc,KIA,OTROS MODELOS,15890.00,58951.90,52080
124778,6678841732,8506295268,natural,pequeno,PUENTE PIEDRA,100.0,1950764,2023-05-31,2023-06-09,camioneta,b1234_pickup_otros,TOYOTA,FORTUNER 4X4 2.8 MT ADVENTURE,59700.00,219696.00,147260
152059,5688963202,8506295268,juridica,grande,SAN ISIDRO,100.0,2047491,2024-01-31,2024-02-16,camioneta,b1234_pickup_otros,CHERY,TIGGO 2 PRO 1.5 AT FULL,14990.00,57111.90,62170
157602,7448311162,9288339515,juridica,grande,SAN ISIDRO,100.0,2067943,2024-07-06,2024-08-05,camion,c1_camiones,HINO,GD STANDARD,102560.01,381523.24,207070
25991,5108076251,9288339515,natural,pequeno,CHORRILLOS,100.0,2086047,2024-11-20,2024-11-25,camioneta,b1234_pickup_otros,SSANGYONG,OTROS MODELOS TRACCIÓN DOBLE,22790.00,85462.50,107450

En estas dos ultimas celdas no se eliminan los valores reptidos de num_persona ni num_registro porque tienen información diferente no son datos repetidos, sobre todo lo de num_registro que indica o deberia ser el identificador y en el caso de num persona algo parecido.

In [35]:
porcentaje_unicos = (df.nunique() / len(df)) * 100
print("Porcentaje de valores únicos por columna:")
print(porcentaje_unicos.sort_values(ascending=False))

Porcentaje de valores únicos por columna:
num_registro                  99.998014
num_persona                   99.997220
correlativo                   99.617182
valor_adquisicion_pen         32.298455
valor_adquisicion_usd         14.183316
valor_referencial_2025_pen     2.834598
modelo                         1.499105
fecha_adquisicion              0.498775
fecha_inscripcion_sunarp       0.360579
marca                          0.052816
distrito_fiscal                0.019061
porcentaje_propiedad           0.015487
categoria_vehiculo             0.003177
tipo_persona                   0.002383
clase_vehiculo                 0.002383
tipo_contribuyente             0.001191
dtype: float64

In [36]:
df.drop(columns=['num_registro', 'num_persona', 'correlativo'], inplace=True)

También eliminamos la columna valor_adquisición_usd por razones del negocio, ya que son la misma variable expresada en dos unidades distintas.

In [56]:
df.drop(columns=['valor_adquisicion_usd'], inplace=True)

In [57]:
df.head()

,tipo_persona,tipo_contribuyente,distrito_fiscal,porcentaje_propiedad,fecha_adquisicion,fecha_inscripcion_sunarp,clase_vehiculo,categoria_vehiculo,marca,modelo,valor_adquisicion_pen,valor_referencial_2025_pen
0,natural,pequeno,ANCON,100.0,2022-12-24,2022-12-29,camioneta,b1234_pickup_otros,FORD,BRONCO SPORT BIG BEND 4X4,149323.8,126060
1,natural,pequeno,ANCON,100.0,2024-04-20,2024-05-15,camioneta,b1234_pickup_otros,CHEVROLET,N400 1.5 MT PASAJEROS BASE,52462.5,48930
2,natural,pequeno,ANCON,100.0,2023-04-28,2023-05-30,camioneta,b1234_pickup_otros,PEUGEOT,3008 GT LINE 1.6 THP EAT6 165,158062.8,136190
3,soc_conyugal,pequeno,ANCON,100.0,2022-09-23,2022-10-27,automovil,a2_1051_1500cc,HYUNDAI,GRAND I10 GL,58068.2,40850
4,natural,pequeno,ANCON,100.0,2023-05-30,2023-06-02,camioneta,b1234_pickup_otros,JETOUR,X70 1.5T MEC 4X2 CONFORT,58217.6,64070

## **Tratamiento de Datos Atípicos**

### Respecto a Límite Superior

In [60]:
df.describe()

,porcentaje_propiedad,fecha_adquisicion,fecha_inscripcion_sunarp,valor_adquisicion_pen,valor_referencial_2025_pen
count,251817.000000,251817,251817,2.518170e+05,2.518170e+05
mean,97.980413,2023-07-11 23:09:34.145510400,2023-07-07 08:24:20.603533312,1.221931e+05,9.935544e+04
min,1.000000,2002-04-29 00:00:00,2022-01-01 00:00:00,0.000000e+00,3.030000e+03
25%,100.000000,2022-10-31 00:00:00,2022-10-21 00:00:00,5.988990e+04,5.270000e+04
50%,100.000000,2023-07-19 00:00:00,2023-07-05 00:00:00,8.333115e+04,7.159000e+04
75%,100.000000,2024-03-30 00:00:00,2024-03-22 00:00:00,1.264428e+05,1.061100e+05
max,100.000000,2024-12-31 00:00:00,2024-12-31 00:00:00,8.110659e+06,1.427600e+06
std,9.956788,NaN,NaN,1.440493e+05,9.237561e+04

In [61]:
import numpy as np

descriptivesMax = df.describe(percentiles = list(np.arange(0, 1, 0.05)))
descriptivesMax

,porcentaje_propiedad,fecha_adquisicion,fecha_inscripcion_sunarp,valor_adquisicion_pen,valor_referencial_2025_pen
count,251817.000000,251817,251817,2.518170e+05,2.518170e+05
mean,97.980413,2023-07-11 23:09:34.145510400,2023-07-07 08:24:20.603533312,1.221931e+05,9.935544e+04
min,1.000000,2002-04-29 00:00:00,2022-01-01 00:00:00,0.000000e+00,3.030000e+03
0%,1.000000,2002-04-29 00:00:00,2022-01-01 00:00:00,0.000000e+00,3.030000e+03
5%,100.000000,2022-02-23 00:00:00,2022-03-02 00:00:00,4.395600e+04,3.917000e+04
10%,100.000000,2022-04-29 00:00:00,2022-05-03 00:00:00,4.905460e+04,4.407000e+04
15%,100.000000,2022-06-30 00:00:00,2022-07-04 00:00:00,5.232150e+04,4.702000e+04
20%,100.000000,2022-09-01 00:00:00,2022-08-31 00:00:00,5.578191e+04,4.927000e+04
25%,100.000000,2022-10-31 00:00:00,2022-10-21 00:00:00,5.988990e+04,5.270000e+04
30%,100.000000,2022-12-26 00:00:00,2022-12-15 00:00:00,6.405234e+04,5.673000e+04
35%,100.000000,2023-02-17 00:00:00,2023-02-03 00:00:00,6.833948e+04,6.122000e+04
40%,100.000000,2023-04-04 00:00:00,2023-03-24 00:00:00,7.289260e+04,6.428000e+04
45%,100.000000,2023-05-30 00:00:00,2023-05-15 00:00:00,7.779520e+04,6.758000e+04
50%,100.000000,2023-07-19 00:00:00,2023-07-05 00:00:00,8.333115e+04,7.159000e+04
55%,100.000000,2023-09-01 00:00:00,2023-08-23 00:00:00,8.900148e+04,7.550000e+04
60%,100.000000,2023-10-28 00:00:00,2023-10-16 00:00:00,9.558750e+04,8.172000e+04
65%,100.000000,2023-12-18 00:00:00,2023-12-06 00:00:00,1.041707e+05,8.902000e+04
70%,100.000000,2024-02-05 00:00:00,2024-01-29 00:00:00,1.140096e+05,9.697000e+04
75%,100.000000,2024-03-30 00:00:00,2024-03-22 00:00:00,1.264428e+05,1.061100e+05
80%,100.000000,2024-05-29 00:00:00,2024-05-22 00:00:00,1.416717e+05,1.133200e+05
85%,100.000000,2024-07-22 00:00:00,2024-07-19 00:00:00,1.580040e+05,1.310600e+05
90%,100.000000,2024-09-11 00:00:00,2024-09-13 00:00:00,1.989602e+05,1.585300e+05
95%,100.000000,2024-10-30 00:00:00,2024-11-07 00:00:00,3.477600e+05,2.769100e+05
max,100.000000,2024-12-31 00:00:00,2024-12-31 00:00:00,8.110659e+06,1.427600e+06
std,9.956788,NaN,NaN,1.440493e+05,9.237561e+04

Verificamos si se supera el limite superior para detectar outliers usando Q3 + 1.5*IQR

In [62]:
descriptivesMax.loc['max'] > (descriptivesMax.loc['75%'] + (1.5* (descriptivesMax.loc['75%']-descriptivesMax.loc['25%']) ) )

porcentaje_propiedad          False
fecha_adquisicion             False
fecha_inscripcion_sunarp      False
valor_adquisicion_pen          True
valor_referencial_2025_pen     True
dtype: bool

In [63]:
RIC = (descriptivesMax.loc['75%']-descriptivesMax.loc['25%'])
RIC

porcentaje_propiedad                        0.0
fecha_adquisicion             516 days 00:00:00
fecha_inscripcion_sunarp      518 days 00:00:00
valor_adquisicion_pen                   66552.9
valor_referencial_2025_pen              53410.0
dtype: object

In [64]:
descriptivesMax.loc['max'] > (descriptivesMax.loc['75%'] + (1.5*RIC) )

porcentaje_propiedad          False
fecha_adquisicion             False
fecha_inscripcion_sunarp      False
valor_adquisicion_pen          True
valor_referencial_2025_pen     True
dtype: bool

In [ ]:
# Límite superior de la variable Valor referencial en soles
descriptivesMax['valor_referencial_2025_pen'].loc['75%'] + (1.5*RIC['valor_referencial_2025_pen'])

np.float64(186225.0)

In [68]:
# Límite superior de la variable Valor adquisición (S/)
descriptivesMax['valor_adquisicion_pen'].loc['75%'] + (1.5*RIC['valor_adquisicion_pen'])

np.float64(226272.15)

In [69]:
# Outliers en Valor referencial
outliers_usd = df[ df['valor_referencial_2025_pen'] > descriptivesMax['valor_referencial_2025_pen'].loc['75%'] + (1.5*RIC['valor_referencial_2025_pen']) ]
print(f"Outliers superiores en Valor referencial: {len(outliers_usd)}")
outliers_usd

Outliers superiores en Valor referencial: 20436

,tipo_persona,tipo_contribuyente,distrito_fiscal,porcentaje_propiedad,fecha_adquisicion,fecha_inscripcion_sunarp,clase_vehiculo,categoria_vehiculo,marca,modelo,valor_adquisicion_pen,valor_referencial_2025_pen
16,natural,pequeno,ANCON,100.0,2023-01-26,2023-01-26,camion,c1_camiones,MERCEDES BENZ,ATEGO 1726/48 BRASIL,324597.35,245680
19,natural,pequeno,ANCON,100.0,2022-11-03,2022-11-25,camioneta,b1234_pickup_otros,BMW,X6 M,812311.50,475020
27,natural,pequeno,ANCON,100.0,2022-05-11,2022-05-30,camion,c1_camiones,HINO,GD STANDARD,224788.90,209990
50,soc_conyugal,pequeno,ANCON,100.0,2021-12-29,2022-02-14,camion,c1_camiones,MERCEDES BENZ,ATEGO 1726/48 BRASIL,332356.80,252960
54,natural,pequeno,ANCON,100.0,2023-06-27,2023-07-10,omnibus,d1_bus_omnibus,MERCEDES BENZ,OTROS MODELOS,675180.00,335750
...,...,...,...,...,...,...,...,...,...,...,...,...
251684,soc_conyugal,pequeno,VILLA MARIA DEL TRIUNFO,100.0,2022-05-19,2022-07-13,camion,c1_camiones,VOLKSWAGEN,17.280 LR MAN E5,332416.00,248300
251685,natural,pequeno,VILLA MARIA DEL TRIUNFO,100.0,2022-04-29,2022-05-18,tracto_camion_remolcador,e1_remolcador,VOLVO,FM 6X4T,638208.00,443830
251689,natural,pequeno,VILLA MARIA DEL TRIUNFO,100.0,2024-03-21,2024-04-03,camion,c1_camiones,SHACMAN,OTROS MODELOS DE PVB MAYOR A 20000 KG,351168.00,278550
251741,soc_conyugal,pequeno,VILLA MARIA DEL TRIUNFO,100.0,2022-05-26,2022-06-10,camion,c1_camiones,ISUZU,FTR34UL-PDPEN 10 TON,249750.00,211810
251793,juridica,pequeno,VILLA MARIA DEL TRIUNFO,100.0,2023-04-26,2023-05-03,tracto_camion_remolcador,e1_remolcador,SCANIA,R540 A6X4,639840.00,563920

In [70]:
# Outliers en Valor adquisición (S/)
outliers_soles = df[ df['valor_adquisicion_pen'] > descriptivesMax['valor_adquisicion_pen'].loc['75%'] + (1.5*RIC['valor_adquisicion_pen']) ]
print(f"Outliers superiores en Valor adquisición (S/): {len(outliers_soles)}")
outliers_soles.head()

Outliers superiores en Valor adquisición (S/): 21146

,tipo_persona,tipo_contribuyente,distrito_fiscal,porcentaje_propiedad,fecha_adquisicion,fecha_inscripcion_sunarp,clase_vehiculo,categoria_vehiculo,marca,modelo,valor_adquisicion_pen,valor_referencial_2025_pen
16,natural,pequeno,ANCON,100.0,2023-01-26,2023-01-26,camion,c1_camiones,MERCEDES BENZ,ATEGO 1726/48 BRASIL,324597.35,245680
19,natural,pequeno,ANCON,100.0,2022-11-03,2022-11-25,camioneta,b1234_pickup_otros,BMW,X6 M,812311.50,475020
50,soc_conyugal,pequeno,ANCON,100.0,2021-12-29,2022-02-14,camion,c1_camiones,MERCEDES BENZ,ATEGO 1726/48 BRASIL,332356.80,252960
54,natural,pequeno,ANCON,100.0,2023-06-27,2023-07-10,omnibus,d1_bus_omnibus,MERCEDES BENZ,OTROS MODELOS,675180.00,335750
55,soc_conyugal,pequeno,ANCON,100.0,2023-12-28,2023-12-28,tracto_camion_remolcador,e1_remolcador,DONGFENG,OTROS MODELOS,440748.00,393430

### Respecto a Límite Inferior

In [77]:
descriptivesMin = df.describe(percentiles = list(np.arange(0, 1, 0.05)))
descriptivesMin

,porcentaje_propiedad,fecha_adquisicion,fecha_inscripcion_sunarp,valor_adquisicion_pen,valor_referencial_2025_pen
count,251817.000000,251817,251817,2.518170e+05,2.518170e+05
mean,97.980413,2023-07-11 23:09:34.145510400,2023-07-07 08:24:20.603533312,1.221931e+05,9.935544e+04
min,1.000000,2002-04-29 00:00:00,2022-01-01 00:00:00,0.000000e+00,3.030000e+03
0%,1.000000,2002-04-29 00:00:00,2022-01-01 00:00:00,0.000000e+00,3.030000e+03
5%,100.000000,2022-02-23 00:00:00,2022-03-02 00:00:00,4.395600e+04,3.917000e+04
10%,100.000000,2022-04-29 00:00:00,2022-05-03 00:00:00,4.905460e+04,4.407000e+04
15%,100.000000,2022-06-30 00:00:00,2022-07-04 00:00:00,5.232150e+04,4.702000e+04
20%,100.000000,2022-09-01 00:00:00,2022-08-31 00:00:00,5.578191e+04,4.927000e+04
25%,100.000000,2022-10-31 00:00:00,2022-10-21 00:00:00,5.988990e+04,5.270000e+04
30%,100.000000,2022-12-26 00:00:00,2022-12-15 00:00:00,6.405234e+04,5.673000e+04
35%,100.000000,2023-02-17 00:00:00,2023-02-03 00:00:00,6.833948e+04,6.122000e+04
40%,100.000000,2023-04-04 00:00:00,2023-03-24 00:00:00,7.289260e+04,6.428000e+04
45%,100.000000,2023-05-30 00:00:00,2023-05-15 00:00:00,7.779520e+04,6.758000e+04
50%,100.000000,2023-07-19 00:00:00,2023-07-05 00:00:00,8.333115e+04,7.159000e+04
55%,100.000000,2023-09-01 00:00:00,2023-08-23 00:00:00,8.900148e+04,7.550000e+04
60%,100.000000,2023-10-28 00:00:00,2023-10-16 00:00:00,9.558750e+04,8.172000e+04
65%,100.000000,2023-12-18 00:00:00,2023-12-06 00:00:00,1.041707e+05,8.902000e+04
70%,100.000000,2024-02-05 00:00:00,2024-01-29 00:00:00,1.140096e+05,9.697000e+04
75%,100.000000,2024-03-30 00:00:00,2024-03-22 00:00:00,1.264428e+05,1.061100e+05
80%,100.000000,2024-05-29 00:00:00,2024-05-22 00:00:00,1.416717e+05,1.133200e+05
85%,100.000000,2024-07-22 00:00:00,2024-07-19 00:00:00,1.580040e+05,1.310600e+05
90%,100.000000,2024-09-11 00:00:00,2024-09-13 00:00:00,1.989602e+05,1.585300e+05
95%,100.000000,2024-10-30 00:00:00,2024-11-07 00:00:00,3.477600e+05,2.769100e+05
max,100.000000,2024-12-31 00:00:00,2024-12-31 00:00:00,8.110659e+06,1.427600e+06
std,9.956788,NaN,NaN,1.440493e+05,9.237561e+04

In [78]:
descriptivesMin.loc['min'] < ( descriptivesMin.loc['25%'] - (1.5*RIC) )

porcentaje_propiedad           True
fecha_adquisicion              True
fecha_inscripcion_sunarp      False
valor_adquisicion_pen         False
valor_referencial_2025_pen    False
dtype: bool

In [71]:
# Límite inferior de la variable Valor referencial en soles
limite_inf_usd = descriptivesMax['valor_referencial_2025_pen'].loc['25%'] - (1.5*RIC['valor_referencial_2025_pen'])
print(f"Límite inferior Valor referencial (S/): {limite_inf_usd}")

Límite inferior Valor referencial (S/): -27415.0

In [72]:
# Límite inferior de la variable Valor adquisición (S/)
limite_inf_soles = descriptivesMax['valor_adquisicion_pen'].loc['25%'] - (1.5*RIC['valor_adquisicion_pen'])
print(f"Límite inferior Valor adquisición (S/): {limite_inf_soles}")

Límite inferior Valor adquisición (S/): -39939.44999999999

No hay valores por debajo de los limites inferiores

In [ ]:
df_outliers = {}
df_sinOutlier = {}

for columna in df[['valor_referencial_2025_pen', 'valor_adquisicion_pen']].columns:
  df_outliers = pd.concat([pd.DataFrame(df_outliers),
                               df[(df[columna] < (descriptivesMin[columna].loc['25%'] - (1.5*RIC[columna]))) |                                                        (df[columna] > (descriptivesMax[columna].loc['75%'] + (1.5*RIC[columna])))]],
                              ignore_index=True)
  print(df_outliers.shape)

(20436, 12)
(41582, 12)

In [ ]:
# ...existing code...
df_outliers = pd.DataFrame()  

for columna in df[['valor_referencial_2025_pen', 'valor_adquisicion_pen']].columns:
    outliers_col = df[(df[columna] < (descriptivesMin[columna].loc['25%'] - (1.5*RIC[columna]))) | 
                      (df[columna] > (descriptivesMax[columna].loc['75%'] + (1.5*RIC[columna])))]
    df_outliers = pd.concat([df_outliers, outliers_col], ignore_index=True)

# Eliminar duplicados basados en el índice original o todas las columnas
df_outliers = df_outliers.drop_duplicates()
print(f"Outliers únicos: {df_outliers.shape}")

In [87]:
print(df.shape)
print(df_outliers.shape)

(251817, 12)
(22439, 12)

## **Tratamiento de Datos Perdidos**

In [66]:
# Análisis de datos perdidos por variable
print("Datos perdidos por variable:")
print(df.isnull().sum())
print("\nPorcentaje de datos perdidos:")
print((df.isnull().sum() / len(df)) * 100)

Datos perdidos por variable:
num_registro                  0
num_persona                   0
tipo_persona                  0
tipo_contribuyente            0
distrito_fiscal               0
porcentaje_propiedad          0
correlativo                   0
fecha_adquisicion             0
fecha_inscripcion_sunarp      0
clase_vehiculo                0
categoria_vehiculo            0
marca                         0
modelo                        0
valor_adquisicion_usd         0
valor_adquisicion_pen         0
valor_referencial_2025_pen    0
dtype: int64

Porcentaje de datos perdidos:
num_registro                  0.0
num_persona                   0.0
tipo_persona                  0.0
tipo_contribuyente            0.0
distrito_fiscal               0.0
porcentaje_propiedad          0.0
correlativo                   0.0
fecha_adquisicion             0.0
fecha_inscripcion_sunarp      0.0
clase_vehiculo                0.0
categoria_vehiculo            0.0
marca                         0.0
modelo                        0.0
valor_adquisicion_usd         0.0
valor_adquisicion_pen         0.0
valor_referencial_2025_pen    0.0
dtype: float64

In [67]:
# Identificar filas con algún valor perdido
filas_con_nulos = df.isnull().any(axis=1).sum()
print(f"Total de filas con al menos un valor perdido: {filas_con_nulos}")
print(f"Porcentaje de filas con valores perdidos: {(filas_con_nulos / len(df)) * 100:.2f}%")

Total de filas con al menos un valor perdido: 0
Porcentaje de filas con valores perdidos: 0.00%

No hay valores nulos

## **Tratamiento de Outliers**

In [93]:
# Opción 2: Tratamiento por winsorización (limitar valores extremos)
df_winsorizado = df.copy()

# Winsorizar Valor referencial en soles - limitar al percentil 95
p95_usd = df_winsorizado['valor_referencial_2025_pen'].quantile(0.95)
df_winsorizado['valor_referencial_2025_pen'] = df_winsorizado['valor_referencial_2025_pen'].clip(upper=p95_usd)

# Winsorizar Valor adquisición (S/) - limitar al percentil 95
p95_soles = df_winsorizado['valor_adquisicion_pen'].quantile(0.95)
df_winsorizado['valor_adquisicion_pen'] = df_winsorizado['valor_adquisicion_pen'].clip(upper=p95_soles)

print("Winsorización completada - valores limitados al percentil 95")
print(f"Valor máximo de referencia después de winsorización: {df_winsorizado['valor_referencial_2025_pen'].max()}")
print(f"Valor máximo de adquisicion después de winsorización: {df_winsorizado['valor_adquisicion_pen'].max()}")

Winsorización completada - valores limitados al percentil 95
Valor máximo de referencia después de winsorización: 276910
Valor máximo de adquisicion después de winsorización: 347760.0

In [95]:
# Comparación de estadísticas descriptivas
print("=== ESTADÍSTICAS COMPARATIVAS ===")
print("\nDatos originales limpios:")
print(df[['valor_referencial_2025_pen', 'valor_adquisicion_pen']].describe())

print("\nDatos winsorizados:")
print(df_winsorizado[['valor_referencial_2025_pen', 'valor_adquisicion_pen']].describe())

=== ESTADÍSTICAS COMPARATIVAS ===

Datos originales limpios:
       valor_referencial_2025_pen  valor_adquisicion_pen
count                2.518170e+05           2.518170e+05
mean                 9.935544e+04           1.221931e+05
std                  9.237561e+04           1.440493e+05
min                  3.030000e+03           0.000000e+00
25%                  5.270000e+04           5.988990e+04
50%                  7.159000e+04           8.333115e+04
75%                  1.061100e+05           1.264428e+05
max                  1.427600e+06           8.110659e+06

Datos winsorizados:
       valor_referencial_2025_pen  valor_adquisicion_pen
count               251817.000000          251817.000000
mean                 91037.746340          108108.381374
std                  58458.631256           75797.936717
min                   3030.000000               0.000000
25%                  52700.000000           59889.900000
50%                  71590.000000           83331.150000
75%                 106110.000000          126442.800000
max                 276910.000000          347760.000000

Aqui se aplica Winsorización solo para ver los efectos, no se tomara en cuenta para el desarrollo puesto que los valores son extremos y no se pueden reemplazar

In [96]:
# Seleccionar el dataset final para siguientes análisis
# Usando el dataset sin outliers extremos
df_final = df.copy()

print(f"Dataset final seleccionado: {len(df_final)} registros")
print("Listo para análisis posteriores")

Dataset final seleccionado: 251817 registros
Listo para análisis posteriores

In [97]:
# ...existing code...
# Contar valores de porcentaje_propiedad que no son 100
no_100 = len(df[df['porcentaje_propiedad'] != 100])
print(f"Número de valores en porcentaje_propiedad que no son 100: {no_100}")

# Para ver la distribución completa
print("\nDistribución de valores en porcentaje_propiedad:")
print(df['porcentaje_propiedad'].value_counts())

Número de valores en porcentaje_propiedad que no son 100: 10057

Distribución de valores en porcentaje_propiedad:
porcentaje_propiedad
100.00000    241760
50.00000       9707
25.00000         43
33.33000         37
30.00000         35
33.33333         30
33.00000         26
10.00000         25
1.00000          21
33.34000         19
40.00000         18
99.00000         15
34.00000         13
16.67000         12
12.50000          6
66.66000          6
50.50000          5
99.99999          5
75.00000          4
20.00000          4
5.00000           3
60.00000          2
99.99000          2
15.00000          2
35.00000          2
16.70000          2
95.00000          1
47.00000          1
48.00000          1
66.60000          1
80.00000          1
90.00000          1
99.99900          1
33.33330          1
10.67000          1
89.33000          1
70.00000          1
7.14284           1
3.00000           1
Name: count, dtype: int64

In [100]:
# ...existing code...
# Filtrar registros con porcentaje_propiedad == 50
df_50 = df[df['porcentaje_propiedad'] == 50]

# Ver marcas con más de un registro en 50%
marcas_50 = df_50['marca'].value_counts()
marcas_multiples = marcas_50[marcas_50 > 1]
print("Marcas con más de un registro en 50%:")
print(marcas_multiples.head(10))

# Mostrar algunos ejemplos de registros con la misma marca y 50%
for marca in marcas_multiples.index[:3]:  # Primeras 3 marcas con múltiples
    print(f"\nEjemplos para marca '{marca}':")
    print(df_50[df_50['marca'] == marca].head(10))

Marcas con más de un registro en 50%:
marca
TOYOTA        1478
HYUNDAI        939
KIA            845
DFSK           593
CHEVROLET      484
NISSAN         420
CHANGAN        359
SUZUKI         342
JAC            298
VOLKSWAGEN     295
Name: count, dtype: Int64

Ejemplos para marca 'TOYOTA':
     tipo_persona tipo_contribuyente distrito_fiscal  porcentaje_propiedad  \
229       natural            pequeno           ANCON                  50.0
361       natural            pequeno           ANCON                  50.0
446       natural            pequeno           ANCON                  50.0
822       natural            pequeno             ATE                  50.0
962       natural            pequeno             ATE                  50.0
972       natural            pequeno             ATE                  50.0
1021      natural            pequeno             ATE                  50.0
1158      natural            pequeno             ATE                  50.0
1180      natural            pequeno             ATE                  50.0
1250      natural            pequeno             ATE                  50.0

     fecha_adquisicion fecha_inscripcion_sunarp clase_vehiculo  \
229         2022-08-28               2022-09-23      camioneta
361         2024-09-10               2024-09-20      camioneta
446         2024-03-14               2024-03-15      camioneta
822         2023-08-22               2023-08-25      camioneta
962         2022-05-28               2022-06-14      camioneta
972         2023-05-15               2023-05-29      camioneta
1021        2022-09-13               2022-09-30      camioneta
1158        2023-10-05               2023-10-12      camioneta
1180        2022-02-08               2022-02-22      camioneta
1250        2024-02-27               2024-03-04      camioneta

      categoria_vehiculo   marca                         modelo  \
229   b1234_pickup_otros  TOYOTA              RAIZE 1.2 MID CVT
361   b1234_pickup_otros  TOYOTA          HILUX 4X4 D/C 1GD SRV
446   b1234_pickup_otros  TOYOTA          COROLLA CROSS 2.0 CVT
822   b1234_pickup_otros  TOYOTA              RAIZE 1.2 MID CVT
962   b1234_pickup_otros  TOYOTA     COROLLA CROSS 2.0 FULL CVT
972   b1234_pickup_otros  TOYOTA            HILUX DC 4X4 1GD SR
1021  b1234_pickup_otros  TOYOTA            HILUX DC 4X4 1GD SR
1158  b1234_pickup_otros  TOYOTA              RAIZE 1.2 MID CVT
1180  b1234_pickup_otros  TOYOTA         RUSH 1.5 FULL D-LUX MT
1250  b1234_pickup_otros  TOYOTA  YARIS CROSS 1.5 CVT FULL DLUX

      valor_adquisicion_pen  valor_referencial_2025_pen
229                 69531.0                       66050
361                175445.9                      137030
446                 92888.4                       88110
822                 67636.0                       65940
962                101245.9                       81870
972                146464.0                      107740
1021               153309.6                      109260
1158                67776.0                       65940
1180                88322.4                       81720
1250               104668.2                      100870

Ejemplos para marca 'HYUNDAI':
     tipo_persona tipo_contribuyente distrito_fiscal  porcentaje_propiedad  \
212       natural            pequeno           ANCON                  50.0
655       natural            pequeno             ATE                  50.0
1162      natural            pequeno             ATE                  50.0
1265      natural            pequeno             ATE                  50.0
1273      natural            pequeno             ATE                  50.0
1432      natural            pequeno             ATE                  50.0
1616      natural            pequeno             ATE                  50.0
1885      natural            pequeno             ATE                  50.0
2735      natural            pequeno             ATE                  50.0
2990      natural            pequeno             ATE                  50.0

     fecha_adquisicion fecha_inscripcion_sunarp clase_vehiculo  \
212         2024-05-29               2024-06-14      camioneta
655         2023-08-17               2023-09-05      camioneta
1162        2022-03-23               2022-04-06      automovil
1265        2023-05-09               2023-06-14      camioneta
1273        2024-05-13               2024-05-27      camioneta
1432        2023-05-22               2023-06-13      camioneta
1616        2022-12-21               2023-01-10      automovil
1885        2021-12-13               2022-01-20      camioneta
2735        2023-02-28               2023-03-17      automovil
2990        2024-02-19               2024-02-29      camioneta

      categoria_vehiculo    marca           modelo  valor_adquisicion_pen  \
212   b1234_pickup_otros  HYUNDAI      H-100 TRUCK                71808.0
655   b1234_pickup_otros  HYUNDAI             HD35                99900.0
1162      a2_1051_1500cc  HYUNDAI     GRAND I10 GL                53243.0
1265  b1234_pickup_otros  HYUNDAI  CRETA GRAND GLS               110032.0
1273  b1234_pickup_otros  HYUNDAI         CRETA GL                78502.6
1432  b1234_pickup_otros  HYUNDAI    NEW TUCSON GL               112939.2
1616      a2_1051_1500cc  HYUNDAI     GRAND I10 GL                62609.8
1885  b1234_pickup_otros  HYUNDAI         CRETA GL               109200.0
2735      a2_1051_1500cc  HYUNDAI        ACCENT GL                65874.9
2990  b1234_pickup_otros  HYUNDAI    NEW TUCSON GL               105027.3

      valor_referencial_2025_pen
212                        73480
655                        94630
1162                       40850
1265                       96790
1273                       68150
1432                       86590
1616                       40680
1885                       69110
2735                       46900
2990                       87920

Ejemplos para marca 'KIA':
      tipo_persona tipo_contribuyente distrito_fiscal  porcentaje_propiedad  \
555        natural            pequeno             ATE                  50.0
752        natural            pequeno             ATE                  50.0
965        natural            pequeno             ATE                  50.0
1435  soc_conyugal            pequeno             ATE                  50.0
1510       natural            pequeno             ATE                  50.0
1650       natural            pequeno             ATE                  50.0
1681       natural            pequeno             ATE                  50.0
1973       natural            pequeno             ATE                  50.0
2201       natural            pequeno             ATE                  50.0
2207       natural            pequeno             ATE                  50.0

     fecha_adquisicion fecha_inscripcion_sunarp clase_vehiculo  \
555         2024-09-30               2024-10-31      automovil
752         2022-06-25               2022-07-04      automovil
965         2022-09-28               2022-10-05      automovil
1435        2024-06-13               2024-06-17      automovil
1510        2023-12-07               2023-12-29      camioneta
1650        2023-09-20               2023-10-10      camioneta
1681        2022-06-07               2022-06-15      camioneta
1973        2023-01-19               2022-05-20      automovil
2201        2022-11-30               2023-01-04      camioneta
2207        2024-08-26               2024-09-03      automovil

      categoria_vehiculo marca                    modelo  \
555       a2_1051_1500cc   KIA     SOLUTO 1.4 MT LX PLUS
752       a2_1051_1500cc   KIA      RIO 1.4 MT - LX FULL
965       a2_1051_1500cc   KIA        RIO 1.4 AT LX FULL
1435      a2_1051_1500cc   KIA             OTROS MODELOS
1510  b1234_pickup_otros   KIA   SPORTAGE 1.6 DCT X LINE
1650  b1234_pickup_otros   KIA                    SELTOS
1681  b1234_pickup_otros   KIA  SPORTAGE 2.0 AT EX SPORT
1973     a1_menos_1050cc   KIA         PICANTO LX 1.0 MT
2201  b1234_pickup_otros   KIA   SPORTAGE 2.0 AT LX PLUS
2207      a2_1051_1500cc   KIA   PICANTO 1.2 AT EX SPORT

      valor_adquisicion_pen  valor_referencial_2025_pen
555                50856.68                       38170
752                63922.70                       61180
965                65876.96                       61180
1435               72960.00                       52080
1510              159530.00                      120590
1650               87360.75                       72150
1681              128615.23                      129810
1973               34176.00                       35600
2201              122570.64                      111260
2207               59962.50                       67820

In [104]:
# ...existing code...
# Filtrar registros con porcentaje_propiedad == 50 y tipo_persona == 'soc_conyugal'
df_50_soc = df[(df['porcentaje_propiedad'] == 50) & (df['tipo_persona'] == 'soc_conyugal')]

# Ver marcas y modelos con más de un registro en 50% y soc_conyugal
modelos_50_soc = df_50_soc.groupby(['marca', 'modelo']).size()
modelos_multiples_soc = modelos_50_soc[modelos_50_soc > 1]
print("Marcas y modelos con más de un registro en 50% y soc_conyugal:")
print(modelos_multiples_soc.head(10))

# Mostrar algunos ejemplos de registros con la misma marca, modelo, 50% y soc_conyugal
for (marca, modelo) in modelos_multiples_soc.index[:3]:  # Primeras 3 combinaciones con múltiples
    print(f"\nEjemplos para marca '{marca}' y modelo '{modelo}':")
    print(df_50_soc[(df_50_soc['marca'] == marca) & (df_50_soc['modelo'] == modelo)].head(5))

Marcas y modelos con más de un registro en 50% y soc_conyugal:
marca      modelo
CHANGAN    GRAND VAN TURISMO                  2
CHERY      TIGGO 8                            2
CHEVROLET  GROOVE 1.5 PREMIER MT GLP          2
           N400 1.5 MT MOVE PASAJEROS BASE    2
FORD       TERRITORY TITANIUM                 2
GEELY      OTROS MODELOS TRACCIÓN SIMPLE      3
HYUNDAI    ACCENT GL                          3
           GRAND I10 GL                       2
           NEW TUCSON GL                      2
JETOUR     X70 1.5T MEC 4X2 CONFORT           2
dtype: int64

Ejemplos para marca 'CHANGAN' y modelo 'GRAND VAN TURISMO':
       tipo_persona tipo_contribuyente distrito_fiscal  porcentaje_propiedad  \
33563  soc_conyugal            pequeno           COMAS                  50.0
55417  soc_conyugal            pequeno       LA MOLINA                  50.0

      fecha_adquisicion fecha_inscripcion_sunarp clase_vehiculo  \
33563        2022-08-11               2022-08-17      camioneta
55417        2022-06-28               2022-07-22      camioneta

       categoria_vehiculo    marca             modelo  valor_adquisicion_pen  \
33563  b1234_pickup_otros  CHANGAN  GRAND VAN TURISMO                59059.0
55417  b1234_pickup_otros  CHANGAN  GRAND VAN TURISMO                50000.0

       valor_referencial_2025_pen
33563                       40400
55417                       36360

Ejemplos para marca 'CHERY' y modelo 'TIGGO 8':
        tipo_persona tipo_contribuyente          distrito_fiscal  \
94151   soc_conyugal            pequeno               LURIGANCHO
247628  soc_conyugal            pequeno  VILLA MARIA DEL TRIUNFO

        porcentaje_propiedad fecha_adquisicion fecha_inscripcion_sunarp  \
94151                   50.0        2023-02-28               2023-03-15
247628                  50.0        2022-06-30               2022-07-14

       clase_vehiculo  categoria_vehiculo  marca   modelo  \
94151       camioneta  b1234_pickup_otros  CHERY  TIGGO 8
247628      camioneta  b1234_pickup_otros  CHERY  TIGGO 8

        valor_adquisicion_pen  valor_referencial_2025_pen
94151                 97116.9                       71520
247628                94562.7                       73640

Ejemplos para marca 'CHEVROLET' y modelo 'GROOVE 1.5 PREMIER MT GLP':
       tipo_persona tipo_contribuyente distrito_fiscal  porcentaje_propiedad  \
84672  soc_conyugal            pequeno      LOS OLIVOS                  50.0
95523  soc_conyugal             grande      LURIGANCHO                  50.0

      fecha_adquisicion fecha_inscripcion_sunarp clase_vehiculo  \
84672        2022-09-07               2022-09-16      camioneta
95523        2023-09-18               2023-09-20      camioneta

       categoria_vehiculo      marca                     modelo  \
84672  b1234_pickup_otros  CHEVROLET  GROOVE 1.5 PREMIER MT GLP
95523  b1234_pickup_otros  CHEVROLET  GROOVE 1.5 PREMIER MT GLP

       valor_adquisicion_pen  valor_referencial_2025_pen
84672                79560.2                       76360
95523                64562.0                       68600

Aqui se analiza un poco el comportamiento de la variable porcentaje de propiedad, por naturaleza del dataset se sabe que el valor imponible, es decir el impuesto tambien se calcula usando este valor, posteriormente se crearan una o más variables de ser necesario para mejorar los resultados de este estudio.

In [107]:
# ...existing code...
df_final.to_csv("../data/data_post_step3.csv", index=False)
print("Datos exportados a CSV en ../data/data_post_step3.csv")

Datos exportados a CSV en ../data/data_post_step3.csv